PORT=5000
FRONTEND_URL=


# Freepik AI
FREEPIK_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


ADMIN_EMAIL=
EMAIL_PASSWORD=


BREVO_LOGIN=
BREVO_SMTP_KEY=
BREVO_API_KEY=
